body, #container {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.frame {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    background-color: #000;
    display: none;
}

#frame00 {
    opacity: 1;
    display: initial;

    transition: opacity 1s ease-in;
   -moz-transition: opacity 1s ease-in;
   -webkit-transition: opacity 1s ease-in;
}

#frame00 #start {
    display: initial;
    position: absolute;
    text-align: center;
    background-color: #fff;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    width: 500px;
    height: 500px;
}

#frame00 #start #mobilePoster {
    z-index: 1;
}

#frame00 #start video {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#frame00 #start img {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#frame00 #start #logoFill {
    z-index: 4;
    opacity: 0.0;
    cursor: pointer;
    transition: opacity 1s ease-in;
   -moz-transition: opacity 1s ease-in;
   -webkit-transition: opacity 1s ease-in; 
}

#frame00 #start #logoFill:hover {
    opacity: 0.4;
}

@media (max-width: 600px) {

    #frame00 #start {
        left: calc(50% - 125px);
        top: calc(50% - 125px);
        width: 250px;
        height: 250px;
    }

    #frame00 #start video {
        display: none;
    }

}

#frame03 {
   transition: opacity 2s ease-in;
   -moz-transition: opacity 2s ease-in;
   -webkit-transition: opacity 2s ease-in;
}

#frame03 .frame {
    display: table;
}

#earth-container {
    display: table-cell;
    vertical-align: middle;
}

#earth {
    width: 30%;
    padding-bottom: 30%;
    position: absolute;
    left: 10%;
    margin-top: -15%;

    -webkit-transition: 7s ease-in;
    transition: 7s ease-in;
    -moz-transition: 7s ease-in;
    -webkit-transition: 7s ease-in;
}

.earth-step04 {
    -webkit-transform: translate(85%,0);
    -moz-transform: translate(85%,0);
    -o-transform: translate(85%,0);
    -ms-transform: translate(85%,0);
    transform: translate(85%,0);
}

.earth-step05 {
    -webkit-transform: translate(190%,0);
    -moz-transform: translate(190%,0);
    -o-transform: translate(190%,0);
    -ms-transform: translate(190%,0);
    transform: translate(190%,0);
}

.sun-container {
    display: table-cell;
    vertical-align: middle;
}

#sun-glow {
    width: 80%;
    padding-bottom: 80%;
    margin-top: -40%;
    left: 100%;
    position: absolute;
    background-image: url("../images/sunGlow.svg");
    background-repeat: no-repeat;
}

.sun-slow {
    -webkit-transition: 7s ease-in;
    transition: 7s ease-in;
    -moz-transition: 7s ease-in;
    -webkit-transition: 7s ease-in;

    -webkit-transform: translate(-112%,0);
    -moz-transform: translate(-112%,0);
    -o-transform: translate(-112%,0);
    -ms-transform: translate(-112%,0);
    transform: translate(-112%,0);
}

.sun-fast {
    -webkit-transition: 3.5s ease-in;
    transition: 3.5s ease-in;
    -moz-transition: 3.5s ease-in;
    -webkit-transition: 3.5s ease-in;

     -webkit-transform: translate(-225%,0);
    -moz-transform: translate(-225%,0);
    -o-transform: translate(-225%,0);
    -ms-transform: translate(-225%,0);
    transform: translate(-225%,0);
}

#sun-container2 #sun-glow {
    width: 25%;
    padding-bottom: 25%;
    margin-top: -20%;
    left: -25%;
}

#sun-container2 .sun-fast {
     -webkit-transform: translate(115%,0);
    -moz-transform: translate(115%,0);
    -o-transform: translate(115%,0);
    -ms-transform: translate(115%,0);
    transform: translate(115%,0);
}

#background-container2, #background-container3 {
    margin: 10%;
    width: 80.1%;
    height: 80%;
}

#frame03 .glitch-box {
    position: absolute;
    top: 30%;
    right: 10%;
}

#step03 {
    width: 40%;
}

#sun-glow .glitch-box {
    width: 100%;
    left: 0;
    top: 45%;
    z-index: 2;
    text-align: center;
}

#sun-glow .glitch-box .glitch {
    color: initial;
    background-color: initial;
}

.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#frame03 canvas {
    border-radius:50%;
    width: 100%;
    height: 100%;
    position: absolute;
}

#step05-verses {
    height: initial;
    left: 30%;
    width: 35%;
    display: none;
}

#step05-verses .glitch {
    opacity: 0;
}