body, #container {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.frame {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    background-color: #000;
    display: none;
}

#frame03 {
   transition: opacity 2s ease-in;
   -moz-transition: opacity 2s ease-in;
   -webkit-transition: opacity 2s ease-in;
}

#frame03 .frame {
    display: table;
}

#earth-container {
    display: table-cell;
    vertical-align: middle;
}

#earth {
    width: 30%;
    padding-bottom: 30%;
    position: absolute;
    left: 10%;
    margin-top: -15%;

    transition: left 7s ease-in;
    -moz-transition: left 7s ease-in;
    -webkit-transition: left 7s ease-in;
}

.sun-container {
    display: table-cell;
    vertical-align: middle;
}

#sun-glow {
    width: 80%;
    padding-bottom: 80%;
    margin-top: -40%;
    left: 100%;
    position: absolute;
    background-image: url("../images/sunGlow.svg");
    background-repeat: no-repeat;
}

.sun-slow {
   transition: left 7s ease-in;
   -moz-transition: left 7s ease-in;
   -webkit-transition: left 7s ease-in; 
}

.sun-fast {
   transition: left 3.5s ease-in;
   -moz-transition: left 3.5s ease-in;
   -webkit-transition: left 3.5s ease-in; 
}

#sun-container2 #sun-glow {
    width: 25%;
    padding-bottom: 25%;
    margin-top: -20%;
    left: -25%;
}

#background-container2, #background-container3 {
    margin: 10%;
    width: 80%;
    height: 80%;
}

#frame03 .glitch-box {
    position: absolute;
    top: 30%;
    right: 10%;
}

#step03 {
    width: 40%;
}

#sun-glow .glitch-box {
    width: 100%;
    left: 0;
    top: 45%;
    z-index: 2;
    text-align: center;
}

#sun-glow .glitch-box .glitch {
    color: initial;
    background-color: initial;
}

.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#frame03 canvas {
    border-radius:50%;
    width: 100%;
    height: 100%;
    position: absolute;
}

#step05 {
    height: initial;
    left: 30%;
    width: 35%;
    display: none;
}