body, #container {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.frame {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    background-color: #000;
    display: none;
}

#frame00 {
    opacity: 1;
    display: inline;

    transition: opacity 0.5s ease-in;
   -moz-transition: opacity 0.5s ease-in;
   -webkit-transition: opacity 0.5s ease-in;
}

#frame00 #start {
    display: initial;
    position: absolute;
    text-align: center;
    background-color: #fff;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    width: 500px;
    height: 500px;
}

#frame00 #start #mobilePoster {
    z-index: 1;
}

#frame00 #start video {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
}

#frame00 #start img {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#frame00 #start #logoFill {
    z-index: 4;
    opacity: 0.0;
    cursor: pointer;
    transition: opacity 0.75s ease-in;
   -moz-transition: opacity 0.75s ease-in;
   -webkit-transition: opacity 0.75s ease-in; 
}

#frame00 #start #logoFill:hover {
    opacity: 0.5;
}

@media (max-width: 600px) {

    #frame00 #start {
        left: calc(50% - 125px);
        top: calc(50% - 125px);
        width: 250px;
        height: 250px;
    }

    #frame00 #start video {
        display: none;
    }

}

#frame03 {
   transition: opacity 2s ease-in;
   -moz-transition: opacity 2s ease-in;
   -webkit-transition: opacity 2s ease-in;
}

#frame03 .frame {
    display: table;
}

#earth-container {
    display: table-cell;
    vertical-align: middle;
}

#earth {
    width: 30%;
    padding-bottom: 30%;
    position: absolute;
    left: 10%;
    margin-top: -15%;

    -webkit-transition: 7s ease-in;
    transition: 7s ease-in;
    -moz-transition: 7s ease-in;
    -webkit-transition: 7s ease-in;
}

#earth img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-transition: 3s ease-in;
    transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -webkit-transition: 3s ease-in;
}

#earth #surfaceMagma {
    width: 104.4%;
    height: 104.4%;
    margin-left: -2.2%;
    margin-top: -2.2%;
    opacity: 1;
    -webkit-animation: rotating 120s linear infinite;
    -moz-animation: rotating 120s linear infinite;
    -ms-animation: rotating 120s linear infinite;
    -o-animation: rotating 120s linear infinite;
    animation: rotating 120s linear infinite;
}

#earth #surfaceWater {
    width: 115%;
    height: 115%;
    margin: -7.5% 0 0 -7.5%;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.earth-step04 {
    -webkit-transform: translate(85%,0);
    -moz-transform: translate(85%,0);
    -o-transform: translate(85%,0);
    -ms-transform: translate(85%,0);
    transform: translate(85%,0);
}

.earth-step05 {
    -webkit-transform: translate(190%,0);
    -moz-transform: translate(190%,0);
    -o-transform: translate(190%,0);
    -ms-transform: translate(190%,0);
    transform: translate(190%,0);
}

.earth-step06 {
    -webkit-transform: translate(85%,20%) scale(1.1,1.1);
    -moz-transform: translate(85%,20%) scale(1.1,1.1);
    -o-transform: translate(85%,20%) scale(1.1,1.1);
    -ms-transform: translate(85%,20%) scale(1.1,1.1);
    transform: translate(85%,20%) scale(1.1,1.1);
}

.earth-step07 {
    -webkit-transform: translate(85%,0%) scale(3,3);
    -moz-transform: translate(85%,0%) scale(3,3);
    -o-transform: translate(85%,0%) scale(3,3);
    -ms-transform: translate(85%,0%) scale(3,3);
    transform: translate(85%,0%) scale(3,3);
    opacity: 0;
}

#earth .pangea-step06 {
    opacity: 1;
    transform: translate(0%, -1%);
}

.sun-container {
    display: table-cell;
    vertical-align: middle;
}

#sun-glow {
    width: 80%;
    padding-bottom: 80%;
    margin-top: -40%;
    left: 100%;
    position: absolute;
    background-image: url("../images/sunGlow.svg");
    background-repeat: no-repeat;
}

.sun-slow {
    -webkit-transition: 7s ease-in;
    transition: 7s ease-in;
    -moz-transition: 7s ease-in;
    -webkit-transition: 7s ease-in;

    -webkit-transform: translate(-112%,0);
    -moz-transform: translate(-112%,0);
    -o-transform: translate(-112%,0);
    -ms-transform: translate(-112%,0);
    transform: translate(-112%,0);
}

.sun-fast {
    -webkit-transition: 3.5s ease-in;
    transition: 3.5s ease-in;
    -moz-transition: 3.5s ease-in;
    -webkit-transition: 3.5s ease-in;

     -webkit-transform: translate(-225%,0);
    -moz-transform: translate(-225%,0);
    -o-transform: translate(-225%,0);
    -ms-transform: translate(-225%,0);
    transform: translate(-225%,0);
}

.sun-slow-2 {
    -webkit-transition: 7s ease-in;
    transition: 7s ease-in;
    -moz-transition: 7s ease-in;
    -webkit-transition: 7s ease-in;

    -webkit-transform: translate(0,-100%);
    -moz-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    transform: translate(0,-100%);
}

.sun-slow-2-out {
    -webkit-transition: 3s ease-in;
    transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -webkit-transition: 3s ease-in;

    -webkit-transform: translate(0, -250%);
    -moz-transform: translate(0, -250%);
    -o-transform: translate(0, -250%);
    -ms-transform: translate(0, -250%);
    transform: translate(0, -250%);
}

#sun-container2 #sun-glow {
    width: 25%;
    padding-bottom: 25%;
    margin-top: -20%;
    left: -25%;
}

#sun-container2 .sun-fast {
     -webkit-transform: translate(115%,0);
    -moz-transform: translate(115%,0);
    -o-transform: translate(115%,0);
    -ms-transform: translate(115%,0);
    transform: translate(115%,0);
}

#sun-container2 .sun-out {
     -webkit-transform: translate(0%,0);
    -moz-transform: translate(0%,0);
    -o-transform: translate(0%,0);
    -ms-transform: translate(0%,0);
    transform: translate(0%,0);
}

#sun-container3 #sun-glow {
    width: 80%;
    padding-bottom: 80%;
    margin-top: 0%;
    left: 10%;
    top: 100%;
}


#background-container2, #background-container3, #background-container4 {
    width: 80.5%;
    height: 80.5%;
    margin-left: 9.75%;
    margin-top: 9.75%;
}

#frame03 .glitch-box {
    position: absolute;
    top: 30%;
    right: 10%;
}

#step03 {
    width: 40%;
}

#sun-glow .glitch-box {
    width: 100%;
    left: 0;
    top: 45%;
    z-index: 2;
    text-align: center;
}

#sun-container3 > #sun-glow > .glitch-box {
    z-index: 10;
    width: 80%;
    padding-bottom: 80%;
    margin-top: 0%;
    left: 10%;
}

#sun-glow .glitch-box .glitch {
    color: initial;
    background-color: initial;
    opacity: 0;
}

.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#frame03 canvas {
    border-radius:50%;
    width: 100%;
    height: 100%;
    position: absolute;
}

#step05-verses {
    height: initial;
    left: 30%;
    width: 35%;
    display: none;
}

#step05-verses .glitch {
    opacity: 0;
}

#step06-verses {
    height: initial;
    left: 10%;
    width: 80%;
    top: 5%;
    display: none;
}

#step06-verses .glitch {
    opacity: 0;
    margin: initial;
    max-width: none;
}

#frame04, #frame05 {
  transition: opacity 3.5s ease-in;
  -moz-transition: opacity 3.5s ease-in;
  -webkit-transition: opacity 3.5s ease-in;
}

#frame04 > .glitch-container {
    background-color: #58B32B;
}

#frame04 .glitch, #frame06 .glitch, #frame07 .glitch {
    color: white;
}

#frame04 .glitch:before {
    text-shadow: 0.5px 0 #58B32B;
    color: white;
    background: #58B32B;
}

#frame04 .glitch:after {
    text-shadow: -0.5px 0 #58B32B;
    color: white;
    background: #58B32B;
}

#frame05 {
    z-index: -2;
}

#frame05 #sky {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    background-color: #00A8C6;
}

#frame05 #mountainRange {
    position: absolute;
    bottom: 31%;
    margin-bottom: -1%;
}

#frame05 #land {
    position: absolute;
    width: 100%;
    height: 71%;
    top: 69%;
    background-color: #59524F;
}

.land-move-down {
    -webkit-transform: translate(0, 101%);
    -moz-transform: translate(0, 101%);
    -o-transform: translate(0, 101%);
    -ms-transform: translate(0, 101%);
    transform: translate(0, 101%);

    -webkit-transition: 3.5s ease-in;
    -moz-transition: 3.5s ease-in;
    -o-transition: 3.5s ease-in;
    transition: 3.5s ease-in;
}

#frame05 .glitch {
    position: absolute;
    top: 100%;
    width: 100%;
    opacity: 1;
    color: #fff;
    z-index: -1;
    -webkit-transition-property: top, bottom, opacity;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: top, bottom, opacity;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: ease-out;
    transition-property: top, bottom, opacity;
    transition-duration: 3s;
    transition-timing-function: ease-out;
}

#frame05 > .glitch {
    text-align: center;
    width: 90%;
    padding: 0 5%;
    max-width: none;
}

#frame05 .verse-up {
    top: 5%;
}

#frame05 .verse-up-night {
    top: 30%;
}

@media (max-width: 600px) {
    #frame05 .verse-up-night {
        top: 15%;
    }
}

#frame05 #land {
    transition: all 3.5s ease-in;
    -moz-transition: all 3.5s ease-in;
    -webkit-transition: all 3.5s ease-in;
}

#frame05 #mountainRange {
    transition: bottom 3.5s ease-in;
    -moz-transition: bottom 3.5s ease-in;
    -webkit-transition: bottom 3.5s ease-in;
}

#frame05 #sky {
    transition: background-color 3s ease-in;
    -moz-transition: background-color 3s ease-in;
    -webkit-transition: background-color 3s ease-in;
}

#frame05 #land img {
    position: absolute;
    z-index: 1;
}

#frame05 #land img:nth-child(1) {
    width: 15%;
    max-height: 32%;
    left: 5%;
}

#frame05 #land img:nth-child(2) {
    width: 30%;
    max-height: 43%;
    left: 20%;
    top: 20%;
}

#frame05 #land img:nth-child(3) {
    width: 40%;
    max-height: 57%;
    left: 5%;
    top: 50%;
}

#frame05 > #land > .glitch {
    display: none;
    opacity: 0;
    top: 0;
    z-index: 1;
    left: initial;
    right: 5%;
    height: 100%;
    max-width: 45%;
    margin: 0;
}

#frame05 #sky #night {
    width: 100%;
    height: 100%;
    position: absolute;

    transition: opacity 3s ease-in;
   -moz-transition: opacity 3s ease-in;
   -webkit-transition: opacity 3s ease-in;
}

#frame05 #sky #night .twinkling, #frame05 #sky #night .stars {
    opacity: 0;

    transition: opacity 3s ease-in;
    -moz-transition: opacity 3s ease-in;
    -webkit-transition: opacity 3s ease-in;
}

#frame05 #sky #night .clouds {
    transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -webkit-transition: opacity 2s ease-in;    

    transition: filter 3s ease-in;
    -moz-transition: filter 3s ease-in;
    -webkit-transition: -webkit-filter 3s ease-in;
}

#frame05 #moon {
    opacity: 0;
    position: absolute;
    z-index: 3;
    width: 20%;
    right: 100%;
    max-width: 200px;
}

.inverted-colors {
    -webkit-filter:invert(100%);
    filter:progid:DXImageTransform.Microsoft.BasicImage(invert='1');
}

#frame05 #sun-glow .glitch-box .glitch {
    z-index: 11;
    width: 70%;
    top: 0;
    margin-left: 15%;
    max-width: none;
    height: 90%;
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#frame05 #sun-glow .glitch-box .glitch span {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

@media (max-width: 800px) {
    .ready #sun-glow {
        top: 80% !important;
    }
}

@media (max-height: 400px) {
    .ready #sun-glow {
        top: 90% !important;
    }
}

@media (min-width: 1500px) {
    #frame05 #sun-glow .glitch-box .glitch span {
        top: 50%;
        transform: translateY(-50%);
    }
}

#grass {
    position: absolute;
    opacity: 0;
    z-index: 0;
    width: 300%;
    height: 100%;
    left: -100%;
    margin-top: 7%;
    border-radius: 50%;
    background-color: #10A00B;
    box-shadow: 0 0 5px 5px #10A00B;
    background-size: 5%;
    background-repeat:repeat;
    background-image: url('../images/grass.svg');

    transition: all 6s ease-in;
    -moz-transition: all 6s ease-in;
    -webkit-transition: all 6s ease-in;
}

#frame06 {
    background-color: #00A8C6;
    z-index: -3;
}

@keyframes waves {
  from {
    background-position: 0 102%
  }
  50% {
    background-position: 50% bottom
  }
  to {
    background-position: 98% 102%
  }
}

@-moz-keyframes waves {
  from {
    background-position: 0 102%
  }
  50% {
    background-position: 50% bottom
  }
  to {
    background-position: 98% 102%
  }
}

@-webkit-keyframes waves {
  from {
    background-position: 0 102%
  }
  to {
    background-position: 98% 102%
  }
}
#frame06 #water {
    position: absolute;
    height: 0;
    width: 100%;
    bottom: 0;
    background-color: #004AAB;

    transition: height 7s linear;
    -moz-transition: height 7s linear;
    -webkit-transition: height 7s linear;
}

#frame06 #water > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#frame06 #water #waves {
    position: absolute;
    height: 50px;
    bottom: 100%;
    width: 100%;
    background: url(../images/water.png) repeat-x bottom;
    animation: waves 20s linear infinite;
    -moz-animation: waves 20s linear infinite;
    -webkit-animation: waves 20s linear infinite;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
}

#frame06 .glitch-container {
    background-color: transparent;
    display: none;
    z-index: 2;
}

#frame06 .glitch:before, #frame07 .glitch:before {
    text-shadow: 0.5px 0 #004AAB;
    color: white;
    background: #004AAB;
}

#frame06 .glitch:after, #frame07 .glitch:after {
    text-shadow: -0.5px 0 #004AAB;
    color: white;
    background: #004AAB;
}

#frame06 > .glitch, #frame07 > .glitch {
    display: none;
    position: absolute;
    top: 10%;
    padding: 0 10%;
    max-width: none;
    z-index: 2;
}

#frame06 #fish-1, #frame06 #fish-1-shadow {
    position: absolute;
    width: 50%;
    right: 100%;
    top: 30%;
    z-index: 2;

    -webkit-transition-property: right, top, width;
    -webkit-transition-duration: 5s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: right, top, width;
    -moz-transition-duration: 5s;
    -moz-transition-timing-function: ease-out;
    transition-property: right, top, width;
    transition-duration: 5s;
    transition-timing-function: ease-out;
}

#frame06 #fish-1-shadow {
    top: 29%;
    opacity: 0;
}

#frame06 .shadow-animation-1 {
    -webkit-transition: opacity 2s !important;
    -moz-transition: opacity 2s !important;
    transition: opacity 2s !important;
}

.no-svg .fish-1 {
    background-image: url(../images/fish-1.png);
}

.no-svg .fish-2 {
    background-image: url(../images/fish-2.png);
}

.no-svg #beach {
    background-image: url(../images/beach.png);
}

.no-svg #forest {
    background-image: url(../images/forest.png);
}

.no-svg #human {
    background-image: url(../images/humanHead.png);
}

#frame06 .fish-2 {
    position: absolute;
    right: 100%;
    z-index: 1;

    -webkit-transition-property: right;
    -webkit-transition-duration: 6s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: right;
    -moz-transition-duration: 6s;
    -moz-transition-timing-function: ease-out;
    transition-property: right;
    transition-duration: 6s;
    transition-timing-function: ease-out;
}

#frame06 .fish-2:nth-child(15) {
    top: 75%;
    height: 20%;
    opacity: 0.6;

    -webkit-transition-duration: 12s;
    -moz-transition-duration: 12s;
    transition-duration: 12s;
}

#frame06 .fish-2:nth-child(14) {
    top: 45%;
    height: 30%;
    opacity: 0.8;

    -webkit-transition-duration: 8s;
    -moz-transition-duration: 8s;
    transition-duration: 8s;
}

#frame06 .fish-2:nth-child(13) {
    top: 10%;
    height: 15%;
    opacity: 0.4;

    -webkit-transition-duration: 16s;
    -moz-transition-duration: 16s;
    transition-duration: 16s;
}

#frame06 #beach {
    position: absolute;
    height: 100%;
    left: 100%;

    -webkit-transition-property: left;
    -webkit-transition-duration: 4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: left;
    -moz-transition-duration: 4s;
    -moz-transition-timing-function: ease-out;
    transition-property: left;
    transition-duration: 4s;
    transition-timing-function: ease-out;
}

#frame06 #extra-land {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 150%;
    background-color: #8C6239;

    -webkit-transition-property: left;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: left;
    -moz-transition-timing-function: ease-out;
    transition-property: left;
    transition-timing-function: ease-out;
}

.beach-fast {
    -webkit-transition-duration: 4s;
    -moz-transition-duration: 4s;
    transition-duration: 4s;
}

.beach-slow {
    -webkit-transition-duration: 10s;
    -moz-transition-duration: 10s;
    transition-duration: 10s;
}

#frame06 #forest {
    position: absolute;
    width: 100%;
    top: -100%;

    -webkit-transition-property: top;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 5s;
    -moz-transition-property: top;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 5s;
    transition-property: top;
    transition-timing-function: ease-out;
    transition-duration: 5s;
}

#frame06 #verse26, #frame06 #verse27  {
    top: initial;
    bottom: 10%;
}

#frame06 #human {
    opacity: 0;
    height: 100%;
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;

    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 5s;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 5s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 5s;
}

#frame07 {
    background-color: #000;

    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 5s;
    -moz-transition-property: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 5s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    transition-duration: 5s;
}

#frame07 .kaleidoscope .tile .image {
    -webkit-transition: background-image 0.5s linear;
    -moz-transition: background-image 0.5s linear;
    transition: background-image 0.5s linear;
}

#frame07 > .glitch-container {
    top: 0;
    background-color: transparent;
    display: none;
}